[gui]
[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
	fetch = +refs/heads/*:refs/remotes/origin/*
	url = git@github.com:sbates/Chef-odds-n-ends.git
[branch "master"]
	remote = git@github.com:sbates/Chef-odds-n-ends.git
	merge = refs/heads/master
	[user]
	name = Sascha Bates
	email = sascha@brattyredhead.com

[gui]
[gui]
	recentrepo = 
[alias]
	co = checkout
[github]
	user = sbates
	token = b67c2995ce7229466b307d1a2fc7bc80
